{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <header class="mb-4">
                <h1>Comments</h1>
            </header>

            <ul class="list-group">
            {% for comment in comments %}
                <li class="list-group-item"><a href="{{ path('comment_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                    <a href="{{ path('comment_delete', {'id': comment.id}) }}">delete</a><br/>
                    {% if comment.user is empty%}
                        User: Anonymous
                    {% else %}
                        User: {{ comment.user }}
                    {% endif %}
                    <br/> Blog post: {{ comment.post }}
                    <br/> {{ comment.content }} </li>
            {% else %}
            <li class="list-group-item">no records found</li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
