{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <article>
                    <a class="btn btn-lg btn-primary" href="{{ path('post_index') }}">back to list</a>
                    <header class="mb-4">
                        <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    </header>

                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{ post.content }}</p>
                    </section>
                </article>

                <div>
                {% if is_granted('ROLE_ADMIN') == true%}
                    <a class="btn" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                    {{ include('post/_delete_form.html.twig') }}
                {% endif %}
                </div>
                <hr>
                <section class="mb-5">
                    <a class="btn btn-lg btn-primary" href="/comment/new">Add comment</a>
                </section>
            </div>
        </div>
    </div>

{% endblock %}
